{% extends "layout.html" %}
{% block content %}

{% if session.user_id %}
  <p></p>
  <form action="/result" method="POST">
      Post your message to the world:
      <textarea class="form-control form-group input-sm" style="width: 40%" type="text" name="text"></textarea>
    <input class="btn btn-secondary" type="submit" value="Send">
  </form>
    {% else %}
  You are not logged in. Please log in <a href="/login">here</a>
    {% endif %}
  <p></p>
  <h4>Messages to the world:</h4>
  {% for i in messages %}
  <div>{{i.message}}</div>
  {% endfor %}


{% endblock %}