<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <title>Website</title>
  <a href="/"></a>
  <a href="/login"></a>
  <a href="/logout/{{session.user_id}}"></a>
  <a href="/profile"></a>
  <a href="/result"></a>
</head>

<nav class="navbar navbar-dark bg-dark">
  <div class="navbar-content" align="left">
      <a class="navbar-brand" href="/">Homepage</a>
      {% if session.user_id %}
      <a class="navbar-brand" href="/profile">Profile</a>
      <a class="nav-item" href="/logout/{{session.user_id}}">Log out</a>
      {% endif %}
    </div>
</nav>


{% block content %}{% endblock %}